# FIFA 21 Dataset - Data Cleaning and Transformation

In [1]:
import numpy as np
import pandas as pd
import re

In [2]:
fifa21 = pd.read_csv("fifa21_raw_data.csv", low_memory = False)

In [3]:
fifa21.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 18979 entries, 0 to 18978
Data columns (total 77 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   photoUrl          18979 non-null  object
 1   LongName          18979 non-null  object
 2   playerUrl         18979 non-null  object
 3   Nationality       18979 non-null  object
 4   Positions         18979 non-null  object
 5   Name              18979 non-null  object
 6   Age               18979 non-null  int64
 7   ↓OVA              18979 non-null  int64
 8   POT               18979 non-null  int64
 9   Team & Contract   18979 non-null  object
 10  ID                18979 non-null  int64
 11  Height            18979 non-null  object
 12  Weight            18979 non-null  object
 13  foot              18979 non-null  object
 14  BOV               18979 non-null  int64
 15  BP                18979 non-null  object
 16  Growth            18979 non-null  int64
 17  Joined            18979 non-null  object
 18  Loan Date End     1013 non-null   object
 19  Value             18979 non-null  object
 20  Wage              18979 non-null  object
 21  Release Clause    18979 non-null  object
 22  Attacking         18979 non-null  int64
 23  Crossing          18979 non-null  int64
 24  Finishing         18979 non-null  int64
 25  Heading Accuracy  18979 non-null  int64
 26  Short Passing     18979 non-null  int64
 27  Volleys           18979 non-null  int64
 28  Skill             18979 non-null  int64
 29  Dribbling         18979 non-null  int64
 30  Curve             18979 non-null  int64
 31  FK Accuracy       18979 non-null  int64
 32  Long Passing      18979 non-null  int64
 33  Ball Control      18979 non-null  int64
 34  Movement          18979 non-null  int64
 35  Acceleration      18979 non-null  int64
 36  Sprint Speed      18979 non-null  int64
 37  Agility           18979 non-null  int64
 38  Reactions         18979 non-null  int64
 39  Balance           18979 non-null  int64
 40  Power             18979 non-null  int64
 41  Shot Power        18979 non-null  int64
 42  Jumping           18979 non-null  int64
 43  Stamina           18979 non-null  int64
 44  Strength          18979 non-null  int64
 45  Long Shots        18979 non-null  int64
 46  Mentality         18979 non-null  int64
 47  Aggression        18979 non-null  int64
 48  Interceptions     18979 non-null  int64
 49  Positioning       18979 non-null  int64
 50  Vision            18979 non-null  int64
 51  Penalties         18979 non-null  int64
 52  Composure         18979 non-null  int64
 53  Defending         18979 non-null  int64
 54  Marking           18979 non-null  int64
 55  Standing Tackle   18979 non-null  int64
 56  Sliding Tackle    18979 non-null  int64
 57  Goalkeeping       18979 non-null  int64
 58  GK Diving         18979 non-null  int64
 59  GK Handling       18979 non-null  int64
 60  GK Kicking        18979 non-null  int64
 61  GK Positioning    18979 non-null  int64
 62  GK Reflexes       18979 non-null  int64
 63  Total Stats       18979 non-null  int64
 64  Base Stats        18979 non-null  int64
 65  W/F               18979 non-null  object
 66  SM                18979 non-null  object
 67  A/W               18979 non-null  object
 68  D/W               18979 non-null  object
 69  IR                18979 non-null  object
 70  PAC               18979 non-null  int64
 71  SHO               18979 non-null  int64
 72  PAS               18979 non-null  int64
 73  DRI               18979 non-null  int64
 74  DEF               18979 non-null  int64
 75  PHY               18979 non-null  int64
 76  Hits              18979 non-null  object
dtypes: int64(55), object(22)
memory usage: 11.1+ MB

## Converting Height and Weight into Numeric Data Types

It is observed that height and weight columns are not of the appropriate type.

In [4]:
fifa21.Height.value_counts()

Height
6'0"     2859
5'10"    2654
5'9"     2304
5'11"    2188
6'2"     2108
6'1"     2001
5'8"     1069
6'3"     1049
5'7"      953
6'4"      797
5'6"      332
6'5"      280
5'5"      188
6'6"      116
5'4"       33
6'7"       20
5'3"       15
6'8"        6
5'2"        4
5'1"        2
6'9"        1
Name: count, dtype: int64

In [5]:
# Height in cm is prefered for conversion to numerical type.
height_dict = {
    '''6'0"''':'182.88',
    '''5'10"''':'177.8',
    '''5'9"''':'175.26',
    '''5'11"''':'180.34',
    '''6'2"''':'187.96',
    '''6'1"''':'185.42',
    '''5'8"''':'172.72',
    '''6'3"''':'190.5',
    '''5'7"''':'170.18',
    '''6'4"''':'193.04',
    '''5'6"''':'167.64',
    '''6'5"''':'195.58',
    '''5'5"''':'165.1',
    '''6'6"''':'198.12',
    '''5'4"''':'162.56',
    '''6'7"''':'200.66',
    '''5'3"''':'160.02',
    '''6'8"''':'203.2',
    '''5'2"''':'157.48',
    '''5'1"''':'154.94',
    '''6'9"''':'205.74'
}

In [6]:
fifa21.Height = fifa21.Height.astype('str').map(height_dict).astype(float)

In [7]:
# Checking if the change has worked
fifa21.Height

0        170.18
1        187.96
2        187.96
3        180.34
4        175.26
          ...
18974    177.80
18975    170.18
18976    177.80
18977    175.26
18978    175.26
Name: Height, Length: 18979, dtype: float64

The heights have been converted to cm and thus, floating values.

In [8]:
fifa21.Weight.value_counts()

Weight
154lbs    1496
165lbs    1458
176lbs    1109
159lbs    1024
172lbs     995
163lbs     957
161lbs     956
170lbs     893
168lbs     880
150lbs     795
174lbs     684
157lbs     648
181lbs     622
152lbs     566
143lbs     535
179lbs     523
183lbs     515
148lbs     508
185lbs     444
187lbs     423
146lbs     401
141lbs     341
190lbs     285
194lbs     266
139lbs     239
192lbs     224
137lbs     181
198lbs     156
132lbs     153
196lbs     128
134lbs      96
201lbs      87
203lbs      68
205lbs      52
128lbs      44
130lbs      41
207lbs      34
209lbs      30
126lbs      19
121lbs      17
212lbs      15
216lbs      13
123lbs      12
214lbs       9
220lbs       8
119lbs       5
227lbs       4
225lbs       4
223lbs       4
218lbs       3
229lbs       3
115lbs       2
236lbs       1
243lbs       1
117lbs       1
110lbs       1
Name: count, dtype: int64

In [9]:
# Running a for loop to drop each 'lbs' term
for index, weight in enumerate(fifa21.Weight):
    fifa21.loc[index, 'Weight'] = int(weight.replace('lbs',''))

In [10]:
fifa21.Weight = fifa21.Weight.astype(int)

In [11]:
# Checking if the change has worked
fifa21.Weight

0        159
1        183
2        192
3        154
4        150
        ...
18974    154
18975    128
18976    146
18977    143
18978    150
Name: Weight, Length: 18979, dtype: int32

Thus, the Height and Weight columns have been converted into numeric formats.

## Converting the Date Columns into Datetime format

In [12]:
fifa21.Joined

0         Jul 1, 2004
1        Jul 10, 2018
2        Jul 16, 2014
3        Aug 30, 2015
4         Aug 3, 2017
             ...
18974     Aug 1, 2020
18975     Aug 1, 2020
18976    Jul 13, 2018
18977     Aug 1, 2020
18978     Jan 1, 2020
Name: Joined, Length: 18979, dtype: object

In [13]:
fifa21.Joined = pd.to_datetime(fifa21.Joined)

In [14]:
fifa21.Joined

0       2004-07-01
1       2018-07-10
2       2014-07-16
3       2015-08-30
4       2017-08-03
           ...
18974   2020-08-01
18975   2020-08-01
18976   2018-07-13
18977   2020-08-01
18978   2020-01-01
Name: Joined, Length: 18979, dtype: datetime64[ns]

In [15]:
fifa21['Loan Date End'] = pd.to_datetime(fifa21['Loan Date End'])

In [16]:
fifa21['Loan Date End']

0       NaT
1       NaT
2       NaT
3       NaT
4       NaT
         ..
18974   NaT
18975   NaT
18976   NaT
18977   NaT
18978   NaT
Name: Loan Date End, Length: 18979, dtype: datetime64[ns]

The Joined and Loan Date End columns have been converted to a more usable datetime format.

## Cleaning the Value Column

In [17]:
fifa21.Value

0        €67.5M
1          €46M
2          €75M
3          €87M
4          €90M
          ...
18974      €35K
18975      €60K
18976      €40K
18977      €60K
18978      €60K
Name: Value, Length: 18979, dtype: object

In [18]:
# Checking all possible end value terms
values = []
for value in fifa21.Value:
    if value[-1] == 'M':
        values.append('M')
    elif value[-1] == 'K':
        values.append('K')
    elif value[-1] == '0':
        values.append('0')
    else:
        values.append(value)
print(set(values))

{'0', 'K', 'M'}

Thus there are only terms like €1M, €1K or €0.

In [19]:
# Running a for loop to drop each €, M, K term:
for index, value in enumerate(fifa21.Value):
    if value[-1] == 'M':        
        fifa21.loc[index, 'Value'] = int(float(value[1:-1])*1000000)
    elif value[-1] == 'K':
        fifa21.loc[index, 'Value'] = int(float(value[1:-1])*1000)
    else:
        fifa21.loc[index, 'Value'] = 0

In [20]:
fifa21.Value = fifa21.Value.astype(int)

In [21]:
# Checking if the change has worked
fifa21.Value

0        67500000
1        46000000
2        75000000
3        87000000
4        90000000
           ...
18974       35000
18975       60000
18976       40000
18977       60000
18978       60000
Name: Value, Length: 18979, dtype: int32

## Cleaning the Wage Column

In [22]:
fifa21.Wage

0        €560K
1        €220K
2        €125K
3        €370K
4        €270K
         ...
18974      €1K
18975     €500
18976      €1K
18977     €500
18978     €500
Name: Wage, Length: 18979, dtype: object

In [23]:
values = []
for value in fifa21.Wage:
    if value[-1] == 'M':
        values.append('M')
    elif value[-1] == 'K':
        values.append('K')
    elif value[-1] == '0' and value[1] == '0':
        values.append('0')
    else:
        values.append('int')
print(set(values))

{'int', '0', 'K'}

Thus there are only terms like €1K, €500 or €0.

In [24]:
for index, value in enumerate(fifa21.Wage):
    if value[-1] == 'K':        
        fifa21.loc[index, 'Wage'] = int(float(value[1:-1])*1000)
    elif value[-1] == '0' and value[1] == '0':
        fifa21.loc[index, 'Wage'] = 0
    else:
        fifa21.loc[index, 'Wage'] = int(value[1:])

In [25]:
fifa21.Wage = fifa21.Wage.astype(int)

In [26]:
# Checking if the change has worked
fifa21.Wage

0        560000
1        220000
2        125000
3        370000
4        270000
          ...
18974      1000
18975       500
18976      1000
18977       500
18978       500
Name: Wage, Length: 18979, dtype: int32

## Cleaning the Release Clause Column

In [27]:
fifa21['Release Clause']

0        €138.4M
1         €75.9M
2        €159.4M
3          €161M
4        €166.5M
          ...
18974       €57K
18975      €165K
18976       €70K
18977      €165K
18978      €167K
Name: Release Clause, Length: 18979, dtype: object

In [28]:
# Checking all possible end value terms
values = []
for value in fifa21['Release Clause']:
    if value[-1] == 'M':
        values.append('M')
    elif value[-1] == 'K':
        values.append('K')
    elif value[-1] == '0':
        values.append('0')
    else:
        values.append(value)
print(set(values))

{'0', 'K', 'M'}

Thus there are only terms like €1M, €1K or €0.

In [29]:
# Running a for loop to drop each €, M, K term:
for index, value in enumerate(fifa21['Release Clause']):
    if value[-1] == 'M':        
        fifa21.loc[index, 'Release Clause'] = int(float(value[1:-1])*1000000)
    elif value[-1] == 'K':
        fifa21.loc[index, 'Release Clause'] = int(float(value[1:-1])*1000)
    else:
        fifa21.loc[index, 'Release Clause'] = 0

In [30]:
fifa21['Release Clause'] = fifa21['Release Clause'].astype(int)

In [31]:
# Checking if the change has worked
fifa21['Release Clause']

0        138400000
1         75900000
2        159400000
3        161000000
4        166500000
           ...
18974        57000
18975       165000
18976        70000
18977       165000
18978       167000
Name: Release Clause, Length: 18979, dtype: int32

Thus the Value, Wage and Release Clause columns have been converted to integer columns for higher usability.

## Removing New-Line characters from Hits

In [32]:
fifa21.Hits

0        \n372
1        \n344
2         \n86
3        \n163
4        \n273
         ...
18974      \n2
18975      \n3
18976      \n3
18977      \n5
18978      \n2
Name: Hits, Length: 18979, dtype: object

In [33]:
# Running a for loop to drop each '\n' term
for index, hits in enumerate(fifa21.Hits):
    fifa21.loc[index, 'Hits'] = hits.replace('\n','')

In [34]:
# Running a for loop to drop each 'K' term
for index, hits in enumerate(fifa21.Hits):    
    if hits[-1] == 'K':
        fifa21.loc[index, 'Hits'] = int(float(hits[:-1])*1000)
    else:
        fifa21.loc[index, 'Hits'] = int(hits)

In [35]:
fifa21.Hits = fifa21.Hits.astype(int)

In [36]:
# Checking if the changes were successful
fifa21.Hits

0        372
1        344
2         86
3        163
4        273
        ...
18974      2
18975      3
18976      3
18977      5
18978      2
Name: Hits, Length: 18979, dtype: int32

## Team and Contract Column

In [37]:
fifa21['Team & Contract'][0]

'\n\n\n\nFC Barcelona\n2004 ~ 2021\n\n'

In [38]:
fifa21['Team & Contract'][205]

'\n\n\n\nTottenham Hotspur\nJun 30, 2021 On Loan\n\n'

In [39]:
fifa21['Team & Contract'][292]

'\n Brazil\nFree\n\n'

It would be useful if we extract the team name, contract start year and contract end year separately.

In [40]:
# Writing Functions to Extract relevant data from the given strings

def name_check(input_string):
    pattern1 = r'\n\n\n\n(.+)\n(\d+) ~ (\d+)\n\n'
    match1 = re.search(pattern1, input_string)
    
    pattern2 = r'\n\n\n\n(.+)\n([\w\s]+ \d{1,2}, \d{4}) On Loan\n\n'
    match2 = re.search(pattern2, input_string)
    
    pattern3 = r'\n (.+)\nFree\n\n'
    match3 = re.search(pattern3, input_string)
    

    if match1:
        # Extract the matched groups
        team_name = match1.group(1)
        year1 = int(match1.group(2))
        year2 = int(match1.group(3))
        date = None
        loan = False
        free = False
        
    elif match2:
        # Extract the matched groups
        team_name = match2.group(1)
        date = match2.group(2)
        year1 = None
        year2 = None
        loan = True
        free = False
    
    elif match3:
        # Extract the matched group
        team_name = match3.group(1)
        date = None
        year1 = None
        year2 = None
        loan = False
        free = True
    else:
        team_name = None
        date = None
        year1 = None
        year2 = None
        loan = False
        free = False
    return team_name, year1, year2, date, loan, free

In [41]:
contracts = {
    'ID':[],
    'Team':[],
    'Start Year':[],
    'End Year':[],
    'Loan':[],
    'Date':[],
    'Free':[]
}

In [42]:
for index, team in enumerate(fifa21['Team & Contract']):
    contracts['ID'].append(index)
    team_name, year1, year2, date, loan, free = name_check(team)
    contracts['Team'].append(team_name)
    contracts['Start Year'].append(year1)
    contracts['End Year'].append(year2)
    contracts['Loan'].append(loan)
    contracts['Date'].append(date)
    contracts['Free'].append(free)

In [43]:
df = pd.DataFrame(contracts)

In [44]:
df['Date'] = pd.to_datetime(df['Date'])

In [45]:
df.head()

   ID                 Team  Start Year  End Year   Loan Date   Free
0   0         FC Barcelona      2004.0    2021.0  False  NaT  False
1   1             Juventus      2018.0    2022.0  False  NaT  False
2   2      Atlético Madrid      2014.0    2023.0  False  NaT  False
3   3      Manchester City      2015.0    2023.0  False  NaT  False
4   4  Paris Saint-Germain      2017.0    2022.0  False  NaT  False

In [46]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 18979 entries, 0 to 18978
Data columns (total 7 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   ID          18979 non-null  int64
 1   Team        18979 non-null  object
 2   Start Year  17728 non-null  float64
 3   End Year    17728 non-null  float64
 4   Loan        18979 non-null  bool
 5   Date        1013 non-null   datetime64[ns]
 6   Free        18979 non-null  bool
dtypes: bool(2), datetime64[ns](1), float64(2), int64(1), object(1)
memory usage: 778.6+ KB

Now that this data has been extracted, it can be joined and the Team & Contract column from the original be dropped.

In [47]:
df.drop('ID', axis=1, inplace = True)
fifa21.drop('Team & Contract', axis=1, inplace = True)
fifa21 = fifa21.merge(df, how = 'left', left_index = True, right_index= True)

In [48]:
# Checking the results
fifa21

,photoUrl,LongName,playerUrl,Nationality,Positions,Name,Age,↓OVA,POT,ID,...,DRI,DEF,PHY,Hits,Team,Start Year,End Year,Loan,Date,Free
0,https://cdn.sofifa.com/players/158/023/21_60.png,Lionel Messi,http://sofifa.com/player/158023/lionel-messi/2...,Argentina,RW ST CF,L. Messi,33,93,93,158023,...,95,38,65,372,FC Barcelona,2004.0,2021.0,False,NaT,False
1,https://cdn.sofifa.com/players/020/801/21_60.png,C. Ronaldo dos Santos Aveiro,http://sofifa.com/player/20801/c-ronaldo-dos-s...,Portugal,ST LW,Cristiano Ronaldo,35,92,92,20801,...,89,35,77,344,Juventus,2018.0,2022.0,False,NaT,False
2,https://cdn.sofifa.com/players/200/389/21_60.png,Jan Oblak,http://sofifa.com/player/200389/jan-oblak/210005/,Slovenia,GK,J. Oblak,27,91,93,200389,...,90,52,90,86,Atlético Madrid,2014.0,2023.0,False,NaT,False
3,https://cdn.sofifa.com/players/192/985/21_60.png,Kevin De Bruyne,http://sofifa.com/player/192985/kevin-de-bruyn...,Belgium,CAM CM,K. De Bruyne,29,91,91,192985,...,88,64,78,163,Manchester City,2015.0,2023.0,False,NaT,False
4,https://cdn.sofifa.com/players/190/871/21_60.png,Neymar da Silva Santos Jr.,http://sofifa.com/player/190871/neymar-da-silv...,Brazil,LW CAM,Neymar Jr,28,91,91,190871,...,94,36,59,273,Paris Saint-Germain,2017.0,2022.0,False,NaT,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
18974,https://cdn.sofifa.com/players/257/710/21_60.png,Mengxuan Zhang,http://sofifa.com/player/257710/mengxuan-zhang...,China PR,CB,Zhang Mengxuan,21,47,52,257710,...,27,50,48,2,Chongqing Dangdai Lifan FC SWM Team,2020.0,2020.0,False,NaT,False
18975,https://cdn.sofifa.com/players/258/736/21_60.png,Vani Da Silva,http://sofifa.com/player/258736/vani-da-silva/...,England,ST,V. Da Silva,17,47,67,258736,...,53,16,40,3,Oldham Athletic,2020.0,2021.0,False,NaT,False
18976,https://cdn.sofifa.com/players/247/223/21_60.png,Ao Xia,http://sofifa.com/player/247223/ao-xia/210005/,China PR,CB,Xia Ao,21,47,55,247223,...,38,48,51,3,Wuhan Zall,2018.0,2022.0,False,NaT,False
18977,https://cdn.sofifa.com/players/258/760/21_60.png,Ben Hough,http://sofifa.com/player/258760/ben-hough/210005/,England,CM,B. Hough,17,47,67,258760,...,49,35,45,5,Oldham Athletic,2020.0,2021.0,False,NaT,False
18978,https://cdn.sofifa.com/players/255/958/21_60.png,Mateo Flores,http://sofifa.com/player/255958/mateo-flores/2...,Bolivia,CDM,M. Flores,19,47,63,255958,...,48,44,49,2,Club Bolívar,2020.0,2024.0,False,NaT,False

## Further Cleaning and Renaming

In [49]:
rename_dict = {
    'photoUrl' : 'Photo',
    'LongName' : 'Full Name',
    'playerUrl': 'Player Info',
    '↓OVA': 'OVA',
    'foot': 'Foot'
}

In [50]:
fifa21.rename(columns = rename_dict, inplace = True)

In [51]:
fifa21

,Photo,Full Name,Player Info,Nationality,Positions,Name,Age,OVA,POT,ID,...,DRI,DEF,PHY,Hits,Team,Start Year,End Year,Loan,Date,Free
0,https://cdn.sofifa.com/players/158/023/21_60.png,Lionel Messi,http://sofifa.com/player/158023/lionel-messi/2...,Argentina,RW ST CF,L. Messi,33,93,93,158023,...,95,38,65,372,FC Barcelona,2004.0,2021.0,False,NaT,False
1,https://cdn.sofifa.com/players/020/801/21_60.png,C. Ronaldo dos Santos Aveiro,http://sofifa.com/player/20801/c-ronaldo-dos-s...,Portugal,ST LW,Cristiano Ronaldo,35,92,92,20801,...,89,35,77,344,Juventus,2018.0,2022.0,False,NaT,False
2,https://cdn.sofifa.com/players/200/389/21_60.png,Jan Oblak,http://sofifa.com/player/200389/jan-oblak/210005/,Slovenia,GK,J. Oblak,27,91,93,200389,...,90,52,90,86,Atlético Madrid,2014.0,2023.0,False,NaT,False
3,https://cdn.sofifa.com/players/192/985/21_60.png,Kevin De Bruyne,http://sofifa.com/player/192985/kevin-de-bruyn...,Belgium,CAM CM,K. De Bruyne,29,91,91,192985,...,88,64,78,163,Manchester City,2015.0,2023.0,False,NaT,False
4,https://cdn.sofifa.com/players/190/871/21_60.png,Neymar da Silva Santos Jr.,http://sofifa.com/player/190871/neymar-da-silv...,Brazil,LW CAM,Neymar Jr,28,91,91,190871,...,94,36,59,273,Paris Saint-Germain,2017.0,2022.0,False,NaT,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
18974,https://cdn.sofifa.com/players/257/710/21_60.png,Mengxuan Zhang,http://sofifa.com/player/257710/mengxuan-zhang...,China PR,CB,Zhang Mengxuan,21,47,52,257710,...,27,50,48,2,Chongqing Dangdai Lifan FC SWM Team,2020.0,2020.0,False,NaT,False
18975,https://cdn.sofifa.com/players/258/736/21_60.png,Vani Da Silva,http://sofifa.com/player/258736/vani-da-silva/...,England,ST,V. Da Silva,17,47,67,258736,...,53,16,40,3,Oldham Athletic,2020.0,2021.0,False,NaT,False
18976,https://cdn.sofifa.com/players/247/223/21_60.png,Ao Xia,http://sofifa.com/player/247223/ao-xia/210005/,China PR,CB,Xia Ao,21,47,55,247223,...,38,48,51,3,Wuhan Zall,2018.0,2022.0,False,NaT,False
18977,https://cdn.sofifa.com/players/258/760/21_60.png,Ben Hough,http://sofifa.com/player/258760/ben-hough/210005/,England,CM,B. Hough,17,47,67,258760,...,49,35,45,5,Oldham Athletic,2020.0,2021.0,False,NaT,False
18978,https://cdn.sofifa.com/players/255/958/21_60.png,Mateo Flores,http://sofifa.com/player/255958/mateo-flores/2...,Bolivia,CDM,M. Flores,19,47,63,255958,...,48,44,49,2,Club Bolívar,2020.0,2024.0,False,NaT,False

## Removing the stars from the W/F, SM and IR columns and converting them to integers

In [52]:
fifa21['W/F']

0        4 ★
1        4 ★
2        3 ★
3        5 ★
4        5 ★
        ...
18974    2 ★
18975    2 ★
18976    2 ★
18977    2 ★
18978    3 ★
Name: W/F, Length: 18979, dtype: object

In [53]:
fifa21['SM']

0        4★
1        5★
2        1★
3        4★
4        5★
         ..
18974    2★
18975    2★
18976    2★
18977    2★
18978    2★
Name: SM, Length: 18979, dtype: object

In [54]:
fifa21['IR']

0        5 ★
1        5 ★
2        3 ★
3        4 ★
4        5 ★
        ...
18974    1 ★
18975    1 ★
18976    1 ★
18977    1 ★
18978    1 ★
Name: IR, Length: 18979, dtype: object

In [55]:
for index, value in enumerate(fifa21['W/F']):
    fifa21.loc[index, 'W/F'] = int(value[0])
fifa21['W/F'] = fifa21['W/F'].astype(int)

In [56]:
for index, value in enumerate(fifa21['SM']):
    fifa21.loc[index, 'SM'] = int(value[0])
fifa21['SM'] = fifa21['SM'].astype(int)

In [57]:
for index, value in enumerate(fifa21['IR']):
    fifa21.loc[index, 'IR'] = int(value[0])
fifa21['IR'] = fifa21['IR'].astype(int)

## Exporting the cleaned data to an Excel Spreadsheet

In [58]:
fifa21.index.rename('Sl. No', inplace = True)

In [59]:
# Exporting to a .xlsx file
fifa21.to_excel('fifa21_cleaned_data.xlsx')